.login-local-form,
.social-media-icons,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.login-local-form,
.register {
  flex-direction: column;
  margin: 45px auto;
}

.social-media-icon {
  cursor: pointer;
  position: relative;
  width: 32px;
}
